certifi==2023.7.22
charset-normalizer==3.2.0
greenlet==2.0.2
idna==3.4
lxml==4.9.3
pathlib==1.0.1
Pillow==10.0.0
pyftplib==1.5.6
PyMySQL==1.1.0
python-pptx==0.6.21
requests==2.31.0
SQLAlchemy==1.4.49
urllib3==2.0.4
XlsxWriter==3.1.2
